<!-- p_386: рефакторинг в /index.html.erb -->
<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>

  <!-- p_389: Ссылки для удаления пользователей, доступ - только админ.
    Метод admin? создался автоматич., когда добавили новый столбец в user -->
  <!-- !current_user?(user) - позволяет не выводить del для тек. польз. -->
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>

</li>