<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <!-- p_398: используем частич. шаблон: app/views/users/_form.html.erb -->
      <!-- f: - f. в шаблоне, а f - указанная в блок выше -->
      <%= render 'users/form', f: f %>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <!-- ratget="_blank" - заставляет браузер открыть в нов. окне -->
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
