<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- p_381: список пользователей с разбиением страницы -->
<%= will_paginate %>

<ul class="users">
    <!-- p_385: рефакторинг в /_user.html.erb -->
    <!-- методу render передается не строка с именем част. шаблона, а перем.
      user класса User. Rails автоматич. найдёт шаблон _user.html.erb
    Ключом является САМ КЛАСС объекта - в данном случае User   -->
  <!--
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
  -->

  <!-- можно передать переменную @users непосредственно, вместо user.
  Rails понимает, что это список, автоматич. перебирает и отображает каждый
  эл-т с помощью шаблона _user.html.erb -->
  <%= render @users %>
</ul>

<!-- p_381: ссылки на страницы и сверху и снизу списка -->
<%= will_paginate %>